<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>School</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<header class="container-fluid">
    <div class="row paddingtop paddingbottom">
        <div class="col-sm-12">
            Header
        </div>
    </div>
</header>
<section class="container">
    <div class="row paddingtop10 paddingbottom10">
        <main class="col-sm-9">
            Main content
        </main>
        <aside class="col-sm-3">
            Sidebar
        </aside>
    </div>
</section>
<footer class="container-fluid text-center">
    <div class="row paddingtop paddingbottom">
        <div class="col-sm-3 border-right">
            <i class="fa fa-map-marker fa-lg"></i>
            <p>Adres</p>
        </div>
        <div class="col-sm-3 border-right">
            <i class="fa fa-phone fa-lg"></i>
            <p>+3215467898</p>
        </div>
        <div class="col-sm-3 border-right">
            <i class="fa fa-envelope-o fa-lg"></i>
            <p>info@telenet.be</p>
        </div>
        <div class="col-sm-3">
            <i class="fa fa-calendar fa-lg"></i>
            <p>Datum en uur</p>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>